.card{
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-between;
  margin-top: 12px;

  .card-title{
    font-weight: bold;
    font-size: 1rem;
  }

  .card-value{
    font-size: 1rem;
    margin-top: 0.5rem;
  }

  .card-action{
    display: flex;
    gap: 0.5rem;
  }
}
